.toolbar {
  display: flex;
  justify-content: space-between;
  color: aliceblue !important;
}

.logoIcon {
  margin-right: 10px;
}

.typography {
  flex-grow: 1;
  white-space: nowrap;
}

.navButtons {
  display: flex;
  font-weight: bolder;
  font-display: block;
}

.menuButton {
  display: block;
}
.drawer {
  width: 250,  ;         
  background-color: "#fff",;
  border-right: "1px solid #ddd"; 
}
